#wpadminbar{
	margin-top: 0;
	opacity: 1;
}


.wp-block {
    max-width: 100vw !important;
}

.edit-post-layout__content .edit-post-visual-editor {
	flex: none !important;
	}

.editor-post-title__block .editor-post-title__input{
	font-family: 'Oswald', sans-serif;
	font-weight: normal
}

.acf-field.menu-title{
	background-color: #ffffb0;
}
